@using MvcCv.Models.Entities
@model List<TblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string color = "";}
@{ string labelColor = "";}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Yetenek Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Level</th>
                                            <th style="width: 40px">Degree</th>
                                            <th>Delete</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Level >= 0 && item.Level <= 50)
                                            {
                                                color = "progress-bar bg-danger";
                                                labelColor = "badge bg-danger";
                                            }
                                            if (item.Level >= 51 && item.Level <= 70)
                                            {
                                                color = "progress-bar bg-warning";
                                                labelColor = "badge bg-warning";
                                            }
                                            if (item.Level >= 70 && item.Level <= 84)
                                            {
                                                color = "progress-bar bg-primary";
                                                labelColor = "badge bg-primary";
                                            }
                                            if (item.Level >= 84 && item.Level <= 100)
                                            {
                                                color = "progress-bar bg-success";
                                                labelColor = "badge bg-success";

                                            }

                                            <tr>
                                                <td>@item.Skill</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@color" style="width: @item.Level%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@labelColor">@item.Level%</span></td>
                                                <td width="150px">
                                                    <a class="btn btn-outline-danger" href="/Skills/SkillsDelete/@item.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </a>
                                                </td>
                                                <td width="150px">
                                                    <a class="btn btn-outline-primary" href="/Skills/SkillsEdit/@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                                <br />
                                <a href="/Skills/SkillsAdd/" class="btn btn-info">Add New Skills </a>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>

