@model MvcCv.Models.Entities.TblEducation
@{
    ViewBag.Title = "EducationEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4 style="color:crimson">Edit Education Page </h4>
<br />

<form method="post">
    @Html.Label(" Institution")
    @Html.TextBoxFor(x => x.Institution, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Institution, "", new { @style = "color:red" })
    <br />
    @Html.Label(" Faculty")
    @Html.TextBoxFor(x => x.Faculty, new { @class = "form-control" })
    <br />
    @Html.Label(" Department")
    @Html.TextBoxFor(x => x.Department, new { @class = "form-control" })
    <br />
    @Html.Label(" GPA")
    @Html.TextBoxFor(x => x.GPA, new { @class = "form-control" })
    <br />
    @Html.Label(" Start Date")
    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control" })
    <br />
    @Html.Label(" Graduation Date")
    @Html.TextBoxFor(x => x.GraduationDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>

</form>

