@model MvcCv.Models.Entities.TblExperience

@{
    ViewBag.Title = "ExperienceGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4 style="color:crimson">Edit Experience Page </h4>
<br />

<form method="post">
    @Html.Label(" Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label(" Subtitle")
    @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })
    <br />
    @Html.Label(" Description")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label(" Start Date")
    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control"  })
    <br />
    @Html.Label(" Finish Date")
    @Html.TextBoxFor(x => x.FinishDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>

</form>

