@using MvcCv.Models.Entities
@model List<TblExperience> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Experience List</h2>
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model) { 
    <tr>
        <td>@item.Title</td>
        <td>@item.Subtitle</td>
        <td>@item.Description</td>
        <td>@item.StartDate.ToShortDateString()</td>
        <td>@item.FinishDate.ToShortDateString()</td>
        <td><a href="/Experience/ExperienceDelete/@item.ID" class="btn btn-outline-danger"> <i class="fas fa-trash">
</i> Delete</a> </td>
        <td><a href="/Experience/ExperienceEdit/@item.ID" class="btn btn-outline-primary">
    <i class="fas fa-pencil-alt">
    </i> Edit
</a> </td>
    </tr>
    }
</table>
<a href="/Experience/ExperienceAdd" class="btn btn-primary">Add New Experience </a>